{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_recommended_courses/main
    Main template for the Recommended Courses block.

    Example context (json):
    {
        "uniqid": "test1",
        "hascourses": true,
        "courses": [
            {
                "id": 1,
                "fullname": "Course 1",
                "courseimage": "https://via.placeholder.com/150",
                "viewurl": "#",
                "enrollurl": "#",
                "summary": "Description",
                "first": true,
                "visible": true,
                "category": "Category 1",
                "has_contact": true,
                "contact_name": "Teacher 1",
                "contact_profileurl": "#",
                "contact_pictureurl": "#",
                "lastmodified": "01.01.2025"
            }
        ],
        "buttontext": "Enroll",
        "no_courses_message": "No courses",
        "prev_course": "Prev",
        "next_course": "Next",
        "layout_mode": "vertical",
        "image_fit": "cover",
        "image_height": "200",
        "border_radius": "8",
        "animation_speed": 300,
        "autoslide": 0,
        "show_button": true,
        "show_cards": true,
        "show_category": true,
        "show_contact": true,
        "show_contact_picture": true,
        "show_lastmodified": true,
        "coursesJson": "[]"
    }
}}
<div class="block_recommended_courses" id="block_recommended_courses_{{uniqid}}" data-image-fit="{{image_fit}}" data-image-height="{{image_height}}" data-border-radius="{{border_radius}}" data-animation-speed="{{animation_speed}}">
    {{#hascourses}}
        <div class="slider-container">
            {{#courses}}
                {{#first}}
                    <div class="main-course-wrapper layout-{{layout_mode}}" data-course-id="{{id}}">
                        <div class="main-course" style="border-radius: {{border_radius}}px;">
                            <div class="main-course-image image-fit-{{image_fit}}" style="height: {{image_height}}px;">
                                <img src="{{courseimage}}" alt="{{fullname}}" style="object-fit: {{image_fit}};">
                            </div>
                            <div class="main-course-content">
                                <h2 class="main-course-title">
                                    <a href="{{viewurl}}" class="course-title-link">{{fullname}}</a>
                                </h2>
                                
                                <!-- Course meta information -->
                                <div class="course-meta-info">
                                    {{#show_category}}
                                    {{#category}}
                                    <div class="meta-item meta-category">
                                        <i class="fa fa-folder-open"></i>
                                        <span>{{category}}</span>
                                    </div>
                                    {{/category}}
                                    {{/show_category}}
                                    
                                    {{#show_contact}}
                                    {{#has_contact}}
                                    <div class="meta-item meta-contact">
                                        <i class="fa fa-user"></i>
                                        {{#show_contact_picture}}
                                        <img src="{{contact_pictureurl}}" alt="{{contact_name}}" class="contact-picture">
                                        {{/show_contact_picture}}
                                        <a href="{{contact_profileurl}}" class="contact-name">{{contact_name}}</a>
                                    </div>
                                    {{/has_contact}}
                                    {{/show_contact}}
                                    
                                    {{#show_lastmodified}}
                                    {{#lastmodified}}
                                    <div class="meta-item meta-lastmodified">
                                        <i class="fa fa-calendar"></i>
                                        <span>{{lastmodified}}</span>
                                    </div>
                                    {{/lastmodified}}
                                    {{/show_lastmodified}}
                                </div>
                                
                                <div class="main-course-description">{{summary}}</div>
                                {{#show_button}}
                                <div class="button-container">
                                    <a href="{{enrollurl}}" class="btn btn-primary">{{buttontext}}</a>
                                </div>
                                {{/show_button}}
                            </div>
                        </div>
                    </div>
                {{/first}}
            {{/courses}}
            
            <!-- Indicator dots below the hero course -->
            <div class="slider-indicators"></div>
            
            {{#show_cards}}
            <div class="course-cards">
                {{#courses}}
                    {{^first}}
                        {{#visible}}
                            <div class="course-card" data-course-id="{{id}}" role="button" tabindex="0" aria-label="{{fullname}}">
                                <div class="course-card-image">
                                    <img src="{{courseimage}}" alt="{{fullname}}">
                                </div>
                                <div class="course-card-title">{{fullname}}</div>
                            </div>
                        {{/visible}}
                    {{/first}}
                {{/courses}}
            </div>
            {{/show_cards}}
            
            <div class="slider-nav prev" role="button" tabindex="0" aria-label="{{prev_course}}" title="{{prev_course}}">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </div>
            <div class="slider-nav next" role="button" tabindex="0" aria-label="{{next_course}}" title="{{next_course}}">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
        </div>
    {{/hascourses}}
    
    {{^hascourses}}
        <div class="no-courses">{{no_courses_message}}</div>
    {{/hascourses}}
</div>

{{#js}}
require(['block_recommended_courses/slider'], function(slider) {
    slider.init(
        'block_recommended_courses_{{uniqid}}',
        {{{coursesJson}}},
        {
            layoutMode: '{{layout_mode}}',
            imageFit: '{{image_fit}}',
            imageHeight: '{{image_height}}',
            borderRadius: '{{border_radius}}',
            animationSpeed: {{animation_speed}},
            autoslide: {{autoslide}},
            showButton: {{show_button}},
            showCards: {{show_cards}},
            showCategory: {{show_category}},
            showContact: {{show_contact}},
            showContactPicture: {{show_contact_picture}},
            showLastmodified: {{show_lastmodified}}
        }
    );
});
{{/js}}
