{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_empfohlene_kurse/main

    Haupttemplate für den Block "Empfohlene Kurse"

    Classes required for JS:
    * slider-container
    * main-course
    * course-cards
    * slider-nav
}}
<div class="block_empfohlene_kurse" id="block_empfohlene_kurse_{{uniqid}}" data-image-fit="{{image_fit}}" data-image-height="{{image_height}}" data-border-radius="{{border_radius}}" data-animation-speed="{{animation_speed}}">
    {{#hascourses}}
        <div class="slider-container">
            {{#courses}}
                {{#first}}
                    <div class="main-course-wrapper layout-{{layout_mode}}" data-course-id="{{id}}">
                        <div class="main-course" style="border-radius: {{border_radius}}px;">
                            <div class="main-course-image image-fit-{{image_fit}}" style="height: {{image_height}}px;">
                                <img src="{{courseimage}}" alt="{{fullname}}" style="object-fit: {{image_fit}};">
                            </div>
                            <div class="main-course-content">
                                <h2 class="main-course-title">
                                    <a href="{{viewurl}}" class="course-title-link">{{fullname}}</a>
                                </h2>
                                
                                <!-- Kurs-Meta-Informationen -->
                                <div class="course-meta-info">
                                    {{#show_category}}
                                    {{#category}}
                                    <div class="meta-item meta-category" title="Kursbereich">
                                        <i class="fa fa-folder-open"></i>
                                        <span>{{category}}</span>
                                    </div>
                                    {{/category}}
                                    {{/show_category}}
                                    
                                    {{#show_contact}}
                                    {{#has_contact}}
                                    <div class="meta-item meta-contact" title="Ansprechpartner">
                                        <i class="fa fa-user"></i>
                                        {{#show_contact_picture}}
                                        <img src="{{contact_pictureurl}}" alt="{{contact_name}}" class="contact-picture">
                                        {{/show_contact_picture}}
                                        <a href="{{contact_profileurl}}" class="contact-name">{{contact_name}}</a>
                                    </div>
                                    {{/has_contact}}
                                    {{/show_contact}}
                                    
                                    {{#show_lastmodified}}
                                    {{#lastmodified}}
                                    <div class="meta-item meta-lastmodified" title="Datum der letzten Aktualisierung">
                                        <i class="fa fa-calendar"></i>
                                        <span>{{lastmodified}}</span>
                                    </div>
                                    {{/lastmodified}}
                                    {{/show_lastmodified}}
                                </div>
                                
                                <div class="main-course-description">{{summary}}</div>
                                {{#show_button}}
                                <div class="button-container">
                                    <a href="{{enrollurl}}" class="btn btn-primary">{{buttontext}}</a>
                                </div>
                                {{/show_button}}
                            </div>
                        </div>
                    </div>
                {{/first}}
            {{/courses}}
            
            <!-- Indikator-Punkte unter dem Hauptkurs -->
            <div class="slider-indicators"></div>
            
            {{#show_cards}}
            <div class="course-cards">
                {{#courses}}
                    {{^first}}
                        {{#visible}}
                            <div class="course-card" data-course-id="{{id}}">
                                <div class="course-card-image">
                                    <img src="{{courseimage}}" alt="{{fullname}}">
                                </div>
                                <div class="course-card-title">{{fullname}}</div>
                            </div>
                        {{/visible}}
                    {{/first}}
                {{/courses}}
            </div>
            {{/show_cards}}
            
            <div class="slider-nav prev" title="{{prev_course}}">
                <i class="fa fa-chevron-left"></i>
            </div>
            <div class="slider-nav next" title="{{next_course}}">
                <i class="fa fa-chevron-right"></i>
            </div>
        </div>
    {{/hascourses}}
    
    {{^hascourses}}
        <div class="no-courses">
            {{no_courses_message}}
        </div>
    {{/hascourses}}
</div>

{{#js}}
require(['jquery'], function($) {
    var container = $('#block_empfohlene_kurse_{{uniqid}}');
    var allCourses = {{{coursesJson}}};
    
    if (!allCourses || allCourses.length === 0) {
        return;
    }
    
    var coursesCount = allCourses.length;
    var currentIndex = 0;
    var visibleCards = 3;
    
    // Konfigurationsoptionen aus data-Attributen
    var layoutMode = '{{layout_mode}}';
    var imageFit = container.attr('data-image-fit') || 'cover';
    var imageHeight = container.attr('data-image-height') || '200';
    var borderRadius = container.attr('data-border-radius') || '8';
    var animationSpeed = parseInt(container.attr('data-animation-speed')) || 300;
    var autoslideInterval = parseInt('{{autoslide}}') || 0;
    var showButton = {{show_button}} ? true : false;
    var showCategory = {{show_category}} ? true : false;
    var showContact = {{show_contact}} ? true : false;
    var showContactPicture = {{show_contact_picture}} ? true : false;
    var showLastmodified = {{show_lastmodified}} ? true : false;
    var autoslideTimer = null;
    
    // Indikator-Punkte initialisieren
    function initializeIndicators() {
        var $indicators = container.find('.slider-indicators');
        $indicators.empty();
        
        for (var i = 0; i < coursesCount; i++) {
            var $dot = $('<div>')
                .addClass('dot')
                .attr('data-index', i)
                .append($('<span>').addClass('tooltip').text(allCourses[i].fullname));
            
            if (i === currentIndex) {
                $dot.addClass('active');
            }
            
            $indicators.append($dot);
        }
    }
    
    // Indikator-Punkte aktualisieren
    function updateIndicators() {
        container.find('.slider-indicators .dot').removeClass('active');
        container.find('.slider-indicators .dot[data-index="' + currentIndex + '"]').addClass('active');
    }
    
    function updateSlider() {
        if (coursesCount === 0) return;
        
        var mainCourse = allCourses[currentIndex];
        var $mainCourseWrapper = container.find('.main-course-wrapper');
        
        // Indikatoren aktualisieren
        updateIndicators();
        
        // Mit Animation aktualisieren (falls aktiviert)
        if (animationSpeed > 0) {
            $mainCourseWrapper.css('opacity', '0');
            setTimeout(function() {
                updateContent();
                $mainCourseWrapper.animate({opacity: 1}, animationSpeed);
            }, animationSpeed / 2);
        } else {
            updateContent();
        }
        
        function updateContent() {
            $mainCourseWrapper.attr('data-course-id', mainCourse.id);
            
            // Layout-Klasse setzen
            $mainCourseWrapper.removeClass('layout-vertical layout-horizontal')
                              .addClass('layout-' + layoutMode);
            
            // Bildeinstellungen dynamisch anwenden
            var $image = $mainCourseWrapper.find('.main-course-image img');
            $image.attr('src', mainCourse.courseimage)
                  .attr('alt', mainCourse.fullname);
            
            $mainCourseWrapper.find('.main-course')
                  .css('border-radius', borderRadius + 'px');
            
            // Titel-Link aktualisieren
            var $titleLink = $mainCourseWrapper.find('.main-course-title a.course-title-link');
            if ($titleLink.length > 0) {
                $titleLink.attr('href', mainCourse.viewurl).text(mainCourse.fullname);
            } else {
                $mainCourseWrapper.find('.main-course-title').text(mainCourse.fullname);
            }
            
            // Meta-Informationen aktualisieren
            var $metaInfo = $mainCourseWrapper.find('.course-meta-info');
            $metaInfo.empty();
            
            // Kategorie
            if (showCategory && mainCourse.category) {
                $metaInfo.append(
                    '<div class="meta-item meta-category" title="Kursbereich">' +
                    '<i class="fa fa-folder-open"></i>' +
                    '<span>' + mainCourse.category + '</span>' +
                    '</div>'
                );
            }
            
            // Kontakt
            if (showContact && mainCourse.contact && mainCourse.contact.name) {
                var contactHtml = '<div class="meta-item meta-contact" title="Ansprechpartner"><i class="fa fa-user"></i>';
                if (showContactPicture) {
                    contactHtml += '<img src="' + mainCourse.contact.pictureurl + '" alt="' + mainCourse.contact.name + '" class="contact-picture">';
                }
                contactHtml += '<a href="' + mainCourse.contact.profileurl + '" class="contact-name">' + mainCourse.contact.name + '</a></div>';
                $metaInfo.append(contactHtml);
            }
            
            // Datum der letzten Bearbeitung
            if (showLastmodified && mainCourse.lastmodified) {
                $metaInfo.append(
                    '<div class="meta-item meta-lastmodified" title="Datum der letzten Aktualisierung">' +
                    '<i class="fa fa-calendar"></i>' +
                    '<span>' + mainCourse.lastmodified + '</span>' +
                    '</div>'
                );
            }
            
            $mainCourseWrapper.find('.main-course-description').text(mainCourse.summary);
            
            // Button aktualisieren (falls sichtbar)
            if (showButton) {
                $mainCourseWrapper.find('.button-container a').attr('href', mainCourse.enrollurl);
            }
        }
        
        var $courseCards = container.find('.course-cards');
        $courseCards.empty();
        
        var cardsToShow = Math.min(visibleCards, coursesCount - 1);
        
        for (var i = 1; i <= cardsToShow; i++) {
            var index = (currentIndex + i) % coursesCount;
            var course = allCourses[index];
            
            var $card = $('<div>').addClass('course-card').attr('data-course-id', course.id);
            var $imageContainer = $('<div>').addClass('course-card-image');
            var $image = $('<img>').attr('src', course.courseimage).attr('alt', course.fullname);
            var $title = $('<div>').addClass('course-card-title').text(course.fullname);
            
            $imageContainer.append($image);
            $card.append($imageContainer).append($title);
            $courseCards.append($card);
        }
    }
    
    container.on('click', '.slider-nav.prev', function(e) {
        e.preventDefault();
        currentIndex = (currentIndex - 1 + coursesCount) % coursesCount;
        updateSlider();
        resetAutoslide();
    });
    
    container.on('click', '.slider-nav.next', function(e) {
        e.preventDefault();
        currentIndex = (currentIndex + 1) % coursesCount;
        updateSlider();
        resetAutoslide();
    });
    
    container.on('click', '.course-card', function(e) {
        e.preventDefault();
        var courseId = $(this).attr('data-course-id');
        
        for (var i = 0; i < allCourses.length; i++) {
            if (allCourses[i].id == courseId) {
                currentIndex = i;
                updateSlider();
                resetAutoslide();
                break;
            }
        }
    });
    
    // Click-Handler für Indikator-Punkte
    container.on('click', '.slider-indicators .dot', function(e) {
        e.preventDefault();
        var index = parseInt($(this).attr('data-index'));
        if (index !== currentIndex) {
            currentIndex = index;
            updateSlider();
            resetAutoslide();
        }
    });
    
    // Auto-Slide Funktionen
    function startAutoslide() {
        if (autoslideInterval > 0) {
            autoslideTimer = setInterval(function() {
                currentIndex = (currentIndex + 1) % coursesCount;
                updateSlider();
            }, autoslideInterval);
        }
    }
    
    function resetAutoslide() {
        if (autoslideTimer) {
            clearInterval(autoslideTimer);
        }
        startAutoslide();
    }
    
    if (coursesCount > 1) {
        initializeIndicators();
        updateSlider();
        startAutoslide();
    } else {
        container.find('.slider-nav').hide();
        container.find('.slider-indicators').hide();
    }
    
    // Pausiere Auto-Slide beim Hover
    container.on('mouseenter', '.main-course-wrapper', function() {
        if (autoslideTimer) {
            clearInterval(autoslideTimer);
        }
    });
    
    container.on('mouseleave', '.main-course-wrapper', function() {
        startAutoslide();
    });
});
{{/js}}
